.banner__section{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(images/img/bg-callout.jpg);
}

.banner__content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner__btn{
    background-color: #1d809f;
    color: #fff;
    height: 56px;
    width: 190px;
margin-top: 1rem;
    border: none;
    font-size: 1rem;
}

.banner__content h1{
font-size: 4rem;
}

@media (max-width: 420px){
    .banner__content{
        text-align: center;
    }

}